/* signup page  */

.signup-container {
  width: 100%;
}
.signup-wrapper {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 35px;
  background-color: white;
  border-radius: 5px;
}
.signup-btn {
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: bolder;
  border: none;
  background-color: black;
  color: white;
}
.signup-btn-wrapper {
  display: flex;
  justify-content: center;
}
.signup-link {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.already-btn-wrapper {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
/* Login Page */

.login-details {
  padding: 10px;
  padding: 50px 17%;
}
.login-wrappper {
  background-color: white;
  padding: 50px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main-container {
  height: 100vh;
  width: 100%;
  background-image: url("../public/background.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lg-btn {
  padding: 7px 80px;
  border-radius: 20px;
  background-color: #252524;
  color: white;
  border: none;
  font-size: large;
  font-weight: bold;
}
.login-btn-wrapper {
  display: flex;
  justify-content: center;
}
.login-input {
  width: 100%;
}
/* main page  */

.create-wrapper {
  display: flex;
  justify-content: right;
}
.head {
  background-color: #212529;
}

.notes-wrapper {
  display: flex !important;
  flex-direction: row;
}
/* Calender Page */

html {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.fc-toolbar-title {
  background-color: #212529;
  padding: 8px;
  border-radius: 4px;
  margin-top: 5px !important;
  color: white;
}

.calendar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
.fc-event-time {
  font-weight: bolder;
}
